
@{
    ViewData["Title"] = "About";
}

<h1>O nama</h1>
<div class="container">
    <div class="row" style="background-color:floralwhite;">
        <div class="col-7">
            <h4>Otkrijte hiljade aerodroma na koje mi letimo.</h4>
            <p>Naši avioni lete sa najpoznatijih svjetskih aerodroma.

        </div>
        <div class=" col-5">
            <img src="https://cdn.pixabay.com/photo/2016/07/29/15/25/airport-1553958_960_720.jpg" style="width:100%;" />

        </div>

    </div>
    <div class="row" style="background-color:blue;">
        <div class="col-12" style="background-image:url('https://cdn.pixabay.com/photo/2015/09/04/23/19/helicopter-923119_960_720.jpg');height:400px;width:100%">
            <div style="background-color:floralwhite;opacity:0.8;position: absolute; bottom: 20px;right: 20px;">
               <h4>Naši zaposleni</h4>
                <p>Ljudi koji rade u našim kompanijama i koji čine da vaš let bude ugodan i siguran.</p>
            </div>
            

        </div>

    </div>
    <div class="row" style="background-color:floralwhite;">
        <div class="col-5">
            <img src="https://cdn.pixabay.com/photo/2016/11/13/21/45/airport-1822133_960_720.jpg" style="width:100%;" />

        </div>
        <div class="col-7">
            <h4>Zadovoljan kupac je najbolji kupac.</h4>
            <p>Ovdje možete pronaci informacije o našim zaposlenima</p>

        </div>

    </div>
</div>