@{
    ViewData["Title"] = "Home Page";
}


    <div class=" col-sm-12 text-center">
        <h1>Welcome to our website</h1>
        <img src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/wackiest-airplanes-plane1215.jpg?itok=XpmhZDq8"  alt="Cinque Terre" style="width:100%">

    </div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>
</div>


