@{
    ViewData["Title"] = "Home Page";
}

.
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="maintxt" style="position:relative;">
                    <img src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/wackiest-airplanes-plane1215.jpg?itok=XpmhZDq8" alt="Cinque Terre" style="width:100%">
                    <span class="overlay-text" style="position:absolute;top:20%;left:25%;">
                        <h1>Welcome to our website</h1>
                    </span>
                    <div class="navbar" style="background:black;">
                        <a href="#povratni" onclick='document.getElementById("btn").style.display = "block"'> Povratni </a>
                        <a href="#jedan" onclick='document.getElementById("btn").style.display = "none"'>U jednom smjeru</a>
                       
                    </div>

                    <div id="povratni" style="background:gray;">
                        <div class="col-sm-5">
                            <label for="od" class="mr-sm-2">Mjesto polaska:</label>
                            <input type="email" class="form-control mb-2 mr-sm-2" id="email">


                        </div>
                        <div class="col-sm-5" id="btn">
                            <label for="do" class="mr-sm-2">Mjesto slijetanja:</label>
                            <input type="email" class="form-control mb-2 mr-sm-2" id="email">
                        </div>
                        

                    </div>
               
                </div>
                   

                </div>
                
            </div>
        </div>
    

    <div class=" col-sm-12 text-center">
        
        

   

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
            <h3>Column 3</h3>
            <p>Lorem ipsum dolor..</p>
        </div>
    </div>

</div>



